.App {
  text-align: center;
  background-image: url("./components/Images/background.jpg");
  background-repeat:round;
  background-color: black;
  margin: 0;
  padding: 0;
}
.App > h1 {
  margin-top: 0;
  padding-top: 15px;
  color: white;
}
